{% extends "myapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block title %}
    Sign up
{% endblock  %}


{% block content %}
<div class="min-h-screen flex items-center justify-center bg-black">

    <form method="POST" class="bg-white p-6 rounded-lg shadow-md w-full max-w-md">
        {% csrf_token %}
        <h2 class="text-3xl font-bold text-center text-black mb-6">Sign Up</h2>
        {% for field in form %}
            <div class="mb-4">
                <label class="block text-lg font-medium mb-1 text-black">
                    {{ field.label }}
                </label>

                <label class="block text-base font-thin mb-1 text-gray-900">
                    {{ field.help_text }}
                </label>

                {{ field|add_class:"w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3" }}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                    {% endfor %}
                {% endif %}

            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <p class='text-red-500 text-sm mb-2'>Invalid Credentials!</p>
        {% endif %}

        <button type='submit' class='w-full bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 hover:cursor-pointer focus:ring-black'>Sign up</button>

        <a href="{% provider_login_url 'google' %}">
            <p class='underline mt-5'>Sign up with Google</p>
            <div class='flex items-center justify-between'>
                    <img class = 'mt-2 h-8 w-8' src='{% static "assets/google_icon.png" %}'> 
                </a>

                <p class='ml-4'>Have account? <a href="{% url 'login' %}" class='underline'>Login</a></p>
        </div>             

    </form>
</div>
{% endblock  %}
    