{% comment %} top navbar {% endcomment %}
<div class="fixed z-20 top-0 flex w-full text-white bg-black">
    <nav class="flex items-center w-full px-10 py-4 justify-evenly">
        <div class="flex items-center w-full gap-x-5">
            <a href='{% url "index" %}' class="py-1 text-xl font-bold">
                DevMate
            </a>
            {% comment %} <div class="hidden md:flex">
                <input type="text"
                    class="outline-none border border-black rounded-xl text-[16px] px-2 py-1 text-black bg-white"
                    placeholder="Search..">
            </div> {% endcomment %}
        </div>

        <div class="flex gap-x-10">
            <a href="{% url 'notification_page' %}" class="relative inline-block">
                <i class="text-xl fa-solid fa-bell"></i>
                <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs font-bold rounded-full h-5 w-5 items-center justify-center hidden text-center" id="notification-badge">
                    0
                </span>
            </a>
            <div>
                <i id="postOptionTrigger" class="text-xl fa-solid fa-square-plus cursor-pointer"></i>
            </div>
            <div class="relative">
                <i id="popupTrigger" class="inline-block md:hidden text-xl fa-solid fa-bars cursor-pointer"></i>
            </div>
        </div>
    </nav>
    <div class="hidden top-20 right-10 bg-[#00000057] backdrop-blur px-5 py-3 rounded-md" id="postOption">
        <div class="flex flex-col gap-y-1">
            <div class="px-2 py-1 text-white rounded-md cursor-pointer hover:bg-[#31313160] font-bold transition" onclick="openPost('user', 'user-post')">Upload Post</div>
            <a href = "{% url 'project_form_new' %}" class="px-2 py-1 text-white rounded-md cursor-pointer hover:bg-[#31313160] font-bold transition">Collaboration Project</a>
            {% if manage_org_page %}<a href = "{% url 'create_organization' %}" class="px-2 py-1 text-white rounded-md cursor-pointer hover:bg-[#31313160] font-bold transition">Create Organization</a>{% endif %}
        </div>
    </div>
</div>

<!-- z-20 -->
<div class="hidden right-5 top-20 bg-[#00000057] backdrop-blur px-5 py-3 rounded-md z-20" id="popup">
    <div class="flex flex-col gap-y-2">
        <a href = "{% url 'settings_page' %}" class="px-2 py-1 text-white rounded-md cursor-pointer hover:bg-[#31313160]">Account center</a>
        <a href='{% url "manage_organization" %}' class="px-2 py-1 text-white rounded-md cursor-pointer hover:bg-[#31313160]">Manage Organization</a>
        <a href='{% url "saved_page" %}' class="px-2 py-1 lg:hidden text-white rounded-md cursor-pointer hover:bg-[#31313160]">Saved</a>
        <a href='{% url "contribute_page" %}' class="px-2 py-1 lg:hidden text-white rounded-md cursor-pointer hover:bg-[#31313160]">Contribute</a>
        <form method="POST" action="{% url 'account_logout' %}" class="w-full">
            {% csrf_token %}
            <button type="submit" class="inline-flex w-full px-2 py-1 text-white rounded-md cursor-pointer hover:bg-[#31313160] appearance-none text-left items-center">
                Logout
            </button>
        </form>
        
    </div>
</div>

  {% comment %} phone navbar {% endcomment %}
  <div class="z-10 fixed bottom-0 w-full py-2 bg-[#00000057] backdrop-blur lg:hidden">
    <div class="flex justify-around">
        <a href='{% url "index" %}'><i class="text-xl fa-solid fa-house"></i></a>
        <a href='{% url "explore-project" %}'><i class="text-xl fa-regular fa-compass"></i></a>
        <a href='{% url "calendar_page" %}'><i class="text-xl fa-solid fa-calendar-days"></i></a>
        <a href='{% url "user_profile" user.username %}'><i class="text-xl fa-solid fa-circle-user"></i></a>
    </div>
  </div>
  

  
