<div class="text-[#2b2b2b] hidden w-1/5 flex-col justify-between h-[calc(100vh-57px)] sticky top-14 mt-14 py-7 bg-[#ffffff]  shadow-lg md:hidden min-w-62 lg:flex">
    <div class="flex px-10">
        <div class="flex flex-col justify-center py-3 gap-y-6 w-full mt-3 text-xl">
            <!-- Home & Explore -->
            <span class="uppercase text-xs text-gray-500 tracking-widest px-2 mb-2">DISCOVER</span>

            <a href='{% url "index" %}' class="{{active_home}}">
            <i class="fa-solid fa-house text-xl"></i>&nbsp;&nbsp;Home
            </a>
            <a href='{% url "explore-project" %}' class="{{active_explore}}">
            <i class="fa-regular fa-compass text-2xl"></i>&nbsp;&nbsp;Explore
            </a>
            <a href='{% url "explore_dev" %}' class="{{active_explore_dev}}">
            <i class="fa-solid fa-code text-xl"></i>&nbsp;&nbsp;Find Dev
            </a>

            <!-- Divider -->
            <hr class="border-gray-400 my-4">

            <span class="uppercase text-xs text-gray-500 tracking-widest px-2 ">TERMINAL</span>
            <a href='{% url "explore_logs_page" %}' class="{{active_logs}}">
            <i class="fa-solid fa-brain text-lg"></i>&nbsp;&nbsp;Logs
            </a>
            <a href='{% url "terminal_page" %}' class="{{active_terminal}}">
            <i class="fa-solid fa-terminal  text-lg"></i>&nbsp;&nbsp;Command
            </a>
            <a href='{% url "personal_logbook" user.username %}' class="{{active_logbook}}">
            <i class="fa-solid fa-book text-lg"></i>&nbsp;&nbsp;Logbook
            </a>
        </div>
    </div>

    <!-- Bottom Controls -->
    <div class="flex flex-col justify-between items-center gap-y-8 px-10">
        <a href="{% url 'leaderboard_page' %}"
            class="inline-flex items-center px-5 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <i class="fa-solid fa-trophy text-xl mr-2"></i>
                    Leaderboard
        </a> 
    
        <div class="flex justify-around w-full">
            <div><a href='{% url "calendar_page" %}'><i class="text-2xl fa-solid fa-calendar-days"></i></a></div>
            <div><a href='{% url "saved_page" %}'><i class="text-2xl fa-regular fa-bookmark"></i></a></div>
            <div><a href='{% url "user_profile" user.username %}'><i class="text-2xl fa-solid fa-user"></i></a></div>   
        </div>
    </div>
</div>