<div
class="text-[#2b2b2b] hidden w-1/5 flex-col justify-between h-[calc(100vh-57px)] sticky top-14 mt-14 py-7 bg-[#ffffff]  shadow-lg md:hidden lg:flex">
<div class="flex px-10">
    <div class="flex flex-col justify-center py-3 gap-y-6 w-full mt-3 text-xl">
        <a href='{% url "index" %}' class="{{active_home}}"><i class="fa-solid fa-house text-xl"></i> &nbsp;&nbsp;Home</a>
        <a href='{% url "explore-project" %}' class="{{active_explore}}"><i class="fa-regular fa-compass text-2xl"></i> &nbsp;&nbsp;Explore</a>
        <a href='{% url "explore_dev" %}' class="{{active_explore_dev}}"><i class="fa-solid fa-code text-xl"></i> &nbsp;&nbsp;Find Dev</a>
        {% comment %} <div class="px-5 py-1 -ml-5 text-lg text-black font-semibold bg-[#0000002a] rounded-xl w-[calc(100%+1.25rem)]">
            <i class="fa-solid fa-trophy text-xl"></i> &nbsp;&nbsp;&nbsp;Leaderboard
        </div> {% endcomment %}
    </div>
</div>
<div class="flex justify-around w-full">
    <div><a href='{% url "calendar_page" %}'><i class="text-2xl fa-solid fa-calendar-days"></i></a></div>
    <div><a href='{% url "saved_page" %}'><i class="text-2xl fa-regular fa-bookmark"></i></a></div>
    <div><a href='{% url "user_profile" user.username %}'><i class="text-2xl fa-solid fa-user"></i></a></div>
</div>
</div>