{% load static %}
<!DOCTYPE html>
<html {% block html_class %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock  %}</title>
        <meta name="description" content="">            
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock  %}
        <link rel="stylesheet" href="{% static 'styles/output.css' %}">
        {% block style %}{% endblock  %}    
        <script src="{% static 'scripts/script.js' %}"></script>
        <script src="https://kit.fontawesome.com/d8ca3bfef7.js" crossorigin="anonymous"></script>
        {% block script %}{% endblock  %}
    </head>
        {% block content %}{% endblock  %}
        
</html>