{% extends "myapp/base.html" %} 
{% load static %}
{% load custom_filter %}

{% block title %}Calendar{% endblock %} 
{% block style %}<link rel="stylesheet" href="{% static 'styles/user_profile_page.css' %}"/>{% endblock %} 
   

{% block content %}
<body class="text-[15px] h-full bg-[#f6f6f6] overflow-x-hidden">
    <!-- navbar -->
    {% include "includes/navbar.html" %}

    <!-- main section -->
    <div id="entireSection" class="lg:w-full lg:flex-row lg:flex lg:gap-x-1 md:flex md:flex-col md:justify-start md:items-start justify-between">
        <!-- sidenav -->
        {% include "includes/sidenav.html" %}
        <!-- middle section -->
        <div class="w-full lg:w-4/5 px-4 lg:px-10 py-4 flex flex-col gap-8 mt-20">
            <div class="">
                <h2 class="text-3xl font-bold mb-2">Calendar</h2>
                <hr class="border-t border-gray-300">
                <div class="flex gap-x-1 flex-wrap gap-y-2 mt-8 relative">
                    <div class="flex flex-col gap-y-2 items-center">
                        <div class="flex gap-x-1 items-center bg-black text-white px-2 py-2 rounded-lg">
                            <div id="exploreTitle" onclick="getAgenda()" class="cursor-pointer">{% if section == "joined-projects" %}Joined Projects{% else %}Upcoming Events{% endif %}</div>
                            <img src="{% static 'assets/down.svg' %}" alt="" class="w-5 h-5"  onclick="getAgenda()">
                        </div>
                        <div class="hidden flex-col gap-y-1 bg-[#00000033] px-5 py-2 absolute top-12 left-0 z-10 backdrop-blur rounded"
                            id="allAgenda">
                            <a href="{% url 'calendar_page' %}" class="hover:scale-110 transition-all hover:font-bold px-3 py-1 cursor-pointer text-white">
                                Upcoming Events</a>
                            <a href="?section=joined-projects"
                                class="hover:scale-110 transition-all hover:font-bold px-3 py-1 cursor-pointer text-white">Joined Projects
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if section == 'joined-projects' %}
            <div class="space-y-10">

                {% if joined_projects %}
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex flex-col gap-6 md:w-5/6 p-5 md:p-0">
                        <!-- Event Card 1 -->       
                        {% for project in joined_projects %}
                        <div class="relative flex flex-col px-5 py-3 bg-white rounded-lg gap-y-4 w-full">
                            <div class="flex items-center justify-between gap-x-5">
                                <div class="flex justify-start items-start w-full md:gap-x-5 gap-x-2">
                                    <img src="{{project.image.url}}" alt="" class="w-12 h-12 rounded-md shrink-0 object-cover">
                                    <div class="w-5/6 md:w-[90%]">
                                        <a href="{% url 'project_detail' project.id %}" class="font-bold text-[18px] cursor-pointer hover:underline">{{project.title}}</a>
                                        <div>{{project.description|truncatewords:25}}</div>
                                        <div class="text-[#686868] flex justify-between mt-5 gap-x-1">
                                            <div class="flex items-start gap-x-1 flex-col md:flex-row md:items-center">
                                                <span>{{project.creator.user.username}}</span> <span class="hidden md:block">&#9679;</span>
                                                <span>{{project.tot_member}} Users</span>
                                            </div>
                                            <p class="self-end">{{project.created_at|date:"M j, Y"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute right-3 top-2 flex items-start gap-x-5">
                                    <p class="text-xs text-gray-700">{{project.type|default:""}}</p>
                                    <div class="bookmarkBtnProject cursor-pointer bookmark-container-project text-[#4a5565]" data-project-id = "{{ project.id }}">
                                        <i class="text-xl fa-solid fa-bookmark {% if project in user.info.saved_items.project.all %}text-[#6feb85]{% endif %}"></i>
                                    </div>
                                </div>
                            </div>
                            <hr class="border-t border-gray-200">
                            <div class="flex items-center justify-between gap-x-5">
                                <div class="flex items-center gap-x-5">
                                    {% if project.github_link %}
                                    <a href='{{project.github_link}}' target='_blank'><i class="text-2xl fa-brands fa-github cursor-pointer"></i></a>
                                    {% endif %}  
                                    <div class="underline">{{project.domain.name}}</div>
                                </div>
                                <div class="flex items-center gap-x-2 text-[#686868]">
                                    <!-- <p class="px-2 py-1 text-black border border-black rounded-md">Free</p> -->
                                    <a href='{% url "project_detail" project.id%}' class="bg-[#6feb85] px-2 py-1 rounded-md text-white font-bold border border-[#6feb85] transition hover:scale-[1.2]">View</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="flex  flex-col w-full justify-center">
                    <div>
                        <img src="sad.svg" alt="" class="w-96">
                    </div>
                    <div class="flex  flex-col w-full justify-center">
                        <div>
                            <img src="{% static 'assets/sad1.svg' %}" alt="" class="w-56 lg:w-70">
                        </div>
                        <div class="text-lg mt-10 font-light ">Currenty You didn't Join in any Projects. <a class='text-base underline' href='{% url "explore-project" %}'>Explore Projects</a></div>
                    </div>
                </div>
                {% endif %}

            </div>
            {% else %}
            <div class="space-y-10">
                <!-- all projects and events shown here -->
                {% if grouped_events %}
                {% for event_date, events in grouped_events.items %}
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="bg-black text-white py-4 px-6 rounded-lg font-bold text-center md:static sticky top-20 z-[1] max-[w-100] shadow-lg">
                        {{ event_date|date:"M d Y" }}
                    </div>
                    <div class="flex flex-col gap-6 md:w-5/6 p-5 md:p-0">

                        {% for event in events %}
                        <div class="relative flex flex-col md:flex-row w-full gap-5 bg-white p-3 pb-5 rounded-2xl shadow-sm">
                            <div class="max-[500px]:w-full w-96 aspect-video overflow-hidden bg-[#d4d4d4] relative border">
                                <img src="{{event.banner.url}}" alt="Post" class="w-full h-full object-cover object-top">
                            </div>
                            <div class="flex flex-col gap-y-3 items-start w-full">
                                <div class="flex justify-between pt-2 items-end">
                                    <div class="flex flex-col gap-y-2 mt-2">
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{% static 'assets/org_event.svg' %}" alt="" class="w-7 h-7">
                                            <div class="font-bold">{{event.title}}</div>
                                        </div>
                                        <div class="flex gap-x-2 items-start">
                                            <img src="{% static 'assets/category.svg' %}" alt="" class="w-7 h-7">
                                            <div class="text-[#686868]">{{event.get_event_type_display}}</div>
                                        </div>
                                        <div class="flex gap-x-2 items-start">
                                            <img src="{% static 'assets/organization.svg' %}" alt="" class="w-7 h-7">
                                            <div class="text-[#686868]">{{event.short_description|truncatewords:25}}</div>
                                        </div>
                                        <div class="flex gap-x-2 items-center">
                                            <img src="{% static 'assets/calendar.svg' %}" alt="" class="w-7 h-7">
                                            <p class='text-[#686868]'>{{event.start_date}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='flex flex-row mt-1 justify-between w-full items-center'>
                                    <a href='{% url "event_detail" event.id %}'
                                        class="bg-black px-5 text-white py-1 rounded hover:bg-[#00000067] transition cursor-pointer text-center">
                                        View
                                    </a>
                                    <div class="bookmarkBtn cursor-pointer bookmark-container-event text-[#4a5565]" data-event-id = "{{ event.id }}">
                                        <i class="text-xl fa-solid fa-bookmark {% if event in user.info.saved_items.events.all %}text-[#6feb85]{% endif %}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <!-- if no project and events -->
                <div class="flex  flex-col w-full justify-center">
                    <div>
                        <img src="{% static 'assets/sad1.svg' %}" alt="" class="w-56 lg:w-70">
                    </div>
                    <div class="text-lg mt-10 font-light ">You currently have no upcoming events</div>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    <!-- create post -->
    {% include "includes/create-post.html" %}
    <script src="{% static 'scripts/jquery-3.7.1.min.js' %}"></script>
    <script>
    //get agenda in calender.html
    function getAgenda() {
        const allAgenda = document.getElementById('allAgenda')
        allAgenda.classList.toggle('flex')
        allAgenda.classList.toggle('hidden')
    }
    </script>
</body>
{% endblock  %}