{% extends "myapp/base.html" %} 
{% load static %}
{% load custom_filter %}

{% block title %}Edit Profile{% endblock %} 
{% block style %}<link rel="stylesheet" href="{% static 'styles/user_profile_page.css' %}"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />{% endblock %} 
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %} 


{% block content %}  

{% endblock %}