{% extends "myapp/base.html" %} 
{% load static %}
{% load custom_filter %}

{% block title %}DevMate{% endblock %} 
{% block style %}<link rel="stylesheet" href="{% static 'styles/user_profile_page.css' %}"/>{% endblock %} 

{% block content %}
<body class="text-[15px] h-full bg-[#f6f6f6] overflow-x-hidden">
    <!-- navbar -->
    {% include "includes/navbar.html" %}

    <!-- main section -->
    <div class="w-full lg:flex-row lg:gap-x-5 flex" id='entireSection'>
        <!-- sidenav -->
        {% include "includes/sidenav.html" %}

        <!-- post events section -->
        <div class="w-full md:w-3/5 flex justify-center mx-auto">
            <div class="mt-24 md:mt-24 flex flex-col gap-y-6 w-full max-w-[36rem] mb-20 px-4 md:px-0">
                <!-- Filter tabs - now scrollable on mobile -->
                <div class="flex gap-x-3 overflow-x-auto scrollbar-hide px-2">
                    <a href='?feed=all'
                        class="px-3 py-1 rounded hover:scale-105 transition-all cursor-pointer shrink-0 {% if type == 'all' or type == '' or type == none %}bg-[#6feb85] text-black{% else %}text-white bg-black hover:bg-[#6feb85] hover:text-black{% endif %}">
                        All
                    </a>
                    <a href='?feed=following'
                        class="px-3 py-1 rounded hover:scale-105 transition-all cursor-pointer shrink-0 {% if type == 'following' %}bg-[#6feb85] text-black{% else %}text-white bg-black hover:bg-[#6feb85] hover:text-black{% endif %}">
                        Following
                    </a>
                    <a href='?feed=trending'
                        class="px-3 py-1 rounded hover:scale-105 transition-all cursor-pointer shrink-0 {% if type == 'trending' %}bg-[#6feb85] text-black{% else %}text-white bg-black hover:bg-[#6feb85] hover:text-black{% endif %}">
                        Latest
                    </a>
                </div>
                {% if feed_items %}
                    <!-- post, projects & events section -->
                    <div class="flex flex-col gap-y-6" id="feed-container">
                        {% include "myapp/feed_items.html" %}
                    </div>
                    <div id="loading" class="text-center my-4 hidden">
                        <span class="text-gray-500">Loading...</span>
                    </div>
                {% else %}
                    <div class='mt-20 flex flex-col gap-y-6 items-center mx-auto'>
                        <img src='{% static "assets/no_feed.svg" %}' class='h-60 w-60'>
                        <p class='text-gray-600'>No items in your feed yet!</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class='flex flex-col gap-y-2'>
            <div class="mt-28 self-start max-[850px]:hidden block w-64 lg:w-80  min-w-40 bg-white p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-shadow ml-auto mr-4">
                <div class="flex flex-col items-center">
                    <img src="{{user.info.profile_image.url}}?v={{user.info.updated_at.timestamp}}" class="w-24 h-24 bg-gray-200 rounded-lg object-cover" alt="Profile Picture">
                    <p class="mt-4 text-xl font-semibold text-black">{{user.username}}</p>
                    <p class="text-sm text-gray-600 mt-1">{{user.info.status|default:""}}</p>
                    <p class="text-xs text-gray-500 mt-1">{{user.info.location|default:""}}</p>
                </div>
                <div class="mt-6 border-t border-gray-300 pt-4 text-center">
                    <a href="{% url 'user_profile' user.username %}" class="inline-block px-4 py-2 text-sm font-medium text-white bg-[#00a63e] rounded-lg hover:bg-green-700 transition-all duration-200">View Profile</a>
                </div>
            </div>

            <div class="self-start max-[850px]:hidden block w-64 lg:w-80  min-w-40 bg-white p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-shadow ml-auto mr-4">
                <div class="flex flex-col items-start gap-y-2 lg:ml-12">
                    <div class='flex flex-row items-center gap-x-2'>
                        <img src='{% static "assets/eye.svg" %}' class='h-7 w-7'>
                        <p class="text-sm  text-black">Profile Views: {{user.info.profile_views}}</p>
                    </div>
                    <div class='flex flex-row items-center gap-x-2'>
                        <img src='{% static "assets/laptop.svg" %}' class='h-7 w-7'>
                        <a href='{% url "calendar_page" %}?section=joined-projects' class="text-sm hover:underline">Joined Projects: {{user.info.tot_joined_projects}}</a>
                    </div>
                    <div class='flex flex-row items-center gap-x-2'>
                        <img src='{% static "assets/event-cal.svg" %}' class='h-7 w-7'>
                        <a href='{% url "calendar_page" %}' class="text-sm hover:underline">Upcoming Events: {{tot_upcoming_events}}</a>
                    </div>
                    
                </div>
                <div class="mt-6 border-t border-gray-300 pt-4 text-center">
                    <a href="{% url 'calendar_page' %}" class="inline-block px-4 py-2 text-sm font-medium text-white bg-[#00a63e] rounded-lg hover:bg-green-700 transition-all duration-200">View</a>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/create-post.html" %}
    <script src="{% static 'scripts/jquery-3.7.1.min.js' %}"></script>

</body>

<script>
    let currentPage = 2;
    let loading = false;
    let hasNext = true;
    let debounceTimer;

    function loadMoreFeed() {
        if (loading || !hasNext) return;
        loading = true;
        $('#loading').removeClass('hidden');

        $.ajax({
            url: "{% url 'load_more_feed' %}",
            data: {
                page: currentPage,
                feed: "{{ type }}"
            },
            success: function (data) {
                if (data.html.trim()) {
                    $('#feed-container').append(data.html);
                    currentPage += 1;
                    hasNext = data.has_next;
                } else {
                    hasNext = false;
                }
            },
            complete: function () {
                $('#loading').addClass('hidden');
                loading = false;
            },
            error: function () {
                $('#loading').addClass('hidden');
                loading = false;
            }
        });
        
    }

    $(window).on('scroll', function () {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 300) {
                loadMoreFeed();
            }
        }, 150);  // 150ms debounce delay
    });
</script>


{% endblock %}