{% load static %}

<!-- posts -->
{% if section == 'events' %}
<div class="flex flex-col justify-center items-center  w-full gap-y-10">

    <!-- start of 1st event -->
    
    {% if org_events %}
    {% for event in org_events %}                        
    <div class="flex flex-col w-full md:w-[34rem] bg-white p-3 pb-4">
        <div class="w-full aspect-video overflow-hidden bg-[#d4d4d4] relative dot">
            <img src="{{event.banner.url}}" alt="Post" class="w-full h-full object-cover">
        </div>
        <div class=" flex justify-between pt-2 items-end">
            <div class="flex flex-col gap-y-2 mt-2">
                <div class="flex gap-x-2 items-start">
                    <img src="{% static 'assets/org_event.svg' %}" alt="" class="w-7 h-7">
                    <div class="font-bold">{{event.title}}</div>
                </div>
                <!-- <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quo eum suscipit aliquid enim porro quos, iste quaerat cumque, omnis delectus aperiam, dolores earum tempora cum! Quas veritatis inventore consectetur!</div> -->
                <div class="flex gap-x-2 items-start">
                    <img src="{% static 'assets/category.svg' %}" alt="" class="w-7 h-7">
                    <div class="text-[#686868]">{{event.event_type}}</div>
                </div>
                
                <div class="flex gap-x-2 items-start">
                    <img src="{% static 'assets/organization.svg' %}" alt="" class="w-7 h-7">
                    <div class="text-[#686868]">{{event.organization.name}}</div>
                </div>

                <div class="flex gap-x-2 items-center">
                    <img src="{% static 'assets/calendar.svg' %}" alt="" class="w-7 h-7">
                    <p class='text-[#686868]'>{{event.start_date|date:"M j, Y"}}</p>
                </div>

            </div>
        </div>
        <div class='flex flex-row mt-1'>
            <a href='{% url "event_detail" event.id %}' class="bg-black px-5 text-white py-1 rounded hover:bg-[#00000067] transition cursor-pointer text-center mx-auto">
                View
            </a>

            <div class="bookmarkBtn cursor-pointer bookmark-container-event text-[#4a5565]" data-event-id = "{{ event.id }}">
                <i class="text-2xl fa-solid fa-bookmark {% if event in user.info.saved_items.events.all %}text-[#6feb85]{% endif %}"></i>
            </div>
        </div>
        
    </div>
    {% endfor %}
    {% else %}
    <div class='flex flex-col gap-y-6'>
        <img src='{% static "assets/no-event.svg" %}' class='w-24 h-24 mx-auto mt-20'>
        {% if organization.user == request.user %}
        <a href='{% url "org_event_form" organization.id %}' class="flex flex-row gap-x-2 items-center bg-gray-300 text-black mx-auto p-2 rounded-2xl cursor-pointer -mt-3">
            <img src = '{% static "assets/plus-edit.svg" %}' class='w-4 h-4'>
            <p>Add Events</p>
        </a>
        {% endif %}
        <p class='text-center text-lg text-gray-800 pb-20 -mt-3'>No Events Yet...</p>
    </div>
    {% endif %}
        
</div>
{% endif %}