{% extends "myapp/base.html" %} 
{% load static %}
{% load custom_filter %}

{% block title %}{{organization.name}}{% endblock %} 

{% block style %}
<link rel="stylesheet" href="{% static 'styles/user_profile_page.css' %}"/>
{% endblock  %}

{% block content %}

<body class="text-[15px] h-full bg-[#f6f6f6] overflow-x-hidden">
    <!-- navbar --><!-- z-20 -->
    {% include "includes/navbar.html" %}
    
    <!-- main section -->
    <div id="entireSection" class="lg:w-full lg:flex-row lg:flex lg:gap-x-1 md:flex md:flex-col md:justify-start md:items-start">
        <!-- sidenav -->
        {% include "includes/sidenav.html" %}

        <!-- profile section -->
        <div class="flex mt-16 lg:mt-28 md:w-full lg:pl-5 flex-[5] lg:px-3 lg:pb-10">
            <div class="flex flex-col items-center md:gap-y-2 w-full">

                <div class="w-full flex flex-col items-center md:gap-y-10 bg-white">
                    <div class="relative w-full h-32 bg-[#444444] md:h-64">
                        <div class="absolute -bottom-16 md:-bottom-20 left-[calc(50%-4rem)]">
                            <img src="{{organization.logo.url}}" alt="" class="rounded-3xl w-32 h-32 md:w-40 md:h-40 object-cover" onclick="viewProfile()">
                        </div>
                        <div class="absolute right-10 -bottom-10 flex flex-col">
                            <button class="" onclick="showMenu()"><i class="text-2xl fa-solid fa-ellipsis"></i></button>
                        </div>
                        <div id="threeDotMenu"
                            class="hidden absolute right-10 -bottom-40 flex-col gap-y-2 bg-[#00000057] px-3 py-2 rounded-md backdrop-blur">
                            <div
                                class="flex items-center gap-x-3 cursor-pointer hover:bg-black hover:text-white transition px-3 py-1 rounded-md">
                                <i class="fa-solid fa-archway"></i><span>Report</span>
                            </div>
                            <div
                                class="flex items-center gap-x-3 cursor-pointer hover:bg-black hover:text-white transition px-3 py-1 rounded-md">
                                <i class="fa-solid fa-archway"></i><span>Block</span>
                            </div>
                            <div
                                class="flex items-center gap-x-3 cursor-pointer hover:bg-black hover:text-white transition px-3 py-1 rounded-md">
                                <i class="fa-solid fa-archway"></i><span>Restrict</span>
                            </div>
                        </div>
                    </div>


                    <div
                        class="flex-col flex items-center justify-between mt-14 md:mt-10  pb-5 bg-white rounded-md mr-auto md:ml-auto w-full md:mr-0 gap-y-2">
                        <div class="flex flex-col py-3 pt-5 gap-y-2 md:gap-y-4 md:mt-0 items-center px-3">
                            <div class="text-xl font-bold">{{organization.name}}</div>
                            <!-- <div class="text-[#686868]">@night_owl</div> -->
                            {% if organization.industry %}
                            <div class="text-[#686868] flex gap-x-3 items-center"><i class="text-lg fa-solid fa-building"></i><span>{{ organization.industry.name }}</span></div>
                            {% endif %}
                            {% if organization.location %}
                            <div class="text-[#686868] flex gap-x-3 items-center"><i class="text-lg fa-solid fa-location-dot"></i><span>{{organization.location}}</span></div>
                            {% endif %}
                            <div class="flex gap-x-2">
                                <a href='{% url "org_follow_list" organization.id %}' id='followers-count-{{organization.id}}' class="border rounded border-black px-1 py-1 transition hover:bg-black hover:text-white">{{organization.get_followers.count}} Followers</a>
                            </div>
                        </div>
                        {% if request.user == organization.user %}
                        <div class="pb-4">
                            <button class="px-4 py-2 bg-[#6feb85] rounded-md" onclick="openEdit()">
                                &lt;Edit Profile/&gt;
                            </button>
                        </div>
                        {% else %}
                            {% if user.info|is_following_org:organization %}
                            <a href="javascript:void(0);" class="px-4 py-2 rounded-md follow-toggle-org bg-[#464646] text-white" 
                                data-org-id="{{ organization.id }}" data-type = 'normal'>
                                Unfollow
                            </a>
                            {% else %}
                            <a href="javascript:void(0);" class="px-4 py-2 rounded-md follow-toggle-org bg-[#6feb85]"  data-org-id="{{ organization.id }}">
                                Follow
                            </a>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>


                <div class="flex flex-col w-full p-3 lg:p-0 gap-y-3">
                    <div
                        class="flex px-2 py-2 overflow-x-scroll bg-[#00000034] rounded-md justify-evenly md:px-10 gap-x-20 max-[400px]:gap-x-10 md:gap-x-20">
                        <a href='?section=overview'
                            class="px-2 md:px-4 py-2 rounded-md cursor-pointer hover:bg-white hover:text-black transition inline-block {% if section == 'overview' or section == '' %}{{color_active}}{% endif %}">
                            Overview</a>
                        <a href='?section=posts'
                            class="px-2 py-2 rounded-md cursor-pointer md:px-4 hover:bg-white hover:text-black transition inline-block {% if section == 'posts' %}{{color_active}}{% endif %}">
                            Posts</a>
                        <a href='?section=events'
                            class="px-2 py-2 rounded-md cursor-pointer md:px-4 hover:bg-white hover:text-black transition inline-block {% if section == 'events'%}{{color_active}}{% endif %}">
                            Events</a>
                    </div>

                    <!-- overview section -->
                    {% if section == 'overview' or section == '' %}
                    <div class="flex flex-col px-3 py-2 bg-white rounded-md md:px-5 gap-y-10">
                        <div class="flex flex-col text-justify gap-y-3 mt-3">
                            <h1 class="text-xl font-bold">{ Description }</h1>
                            <p class="break-words">
                                {{organization.description}}
                            </p>
                        </div>
                        
                        {% comment %} Links {% endcomment %}
                        <div class="flex flex-col gap-y-2">
                            <h1 class="text-xl font-bold">Links</h1>
                            {% if link_available %}
                                <div class="flex flex-wrap gap-x-5 gap-y-2">
                                    {% for link, url in social_links.items %}
                                    {% if url %}
                                    <a href='{{url}}' target='_blank' class="flex items-center gap-x-3 bg-green-100 px-3 py-2 rounded-md text-green-600 font-semibold border border-green-500 transition-all hover:bg-green-200">
                                        <i class="text-2xl fa-brands fa-{{link}}"></i>
                                        <p class="hidden md:block">{{link|capfirst}}</p>
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                            <div class='flex items-center gap-x-2'>
                            <i class="fa-solid fa-pen-nib"></i>
                            <p class="">Not Updated Yet</p>
                            </div>
                            {% endif %}
                        </div>

                        <div class="flex flex-col gap-y-2">
                            <div class="text-xl font-bold">Industry</div>
                            <div>{{organization.industry.name}}</div>
                        </div>
                    </div>

                    <!-- personal Info -->
                    <div class=" bg-white rounded-md px-3 py-5">
                        <div class="flex flex-col gap-y-5">
                            <div class="flex gap-x-3 items-start">
                                <img class="w-12 h-12" src="{% static 'assets/birthday_icon.svg' %}"alt="">
                                <div class="w-full">
                                    <p class="font-bold">Founded</p>
                                    <p class="break-words text-justify text-[#686868]">{% if organization.founded_date %}{{organization.founded_date}}{% else %}Not Updated Yet.{% endif %}</p>
                                </div>
                            </div>
                            <div class="flex gap-x-3 items-center">
                                <img class="w-12 h-12" src="{% static 'assets/email_icon.svg' %}" alt="">
                                <div class="w-full">
                                    <p class="font-bold">Email</p>
                                    <p class="break-words text-justify text-[#686868]">{% if organization.contact_email %}{{organization.contact_email}}{% else %}Not Updated Yet.{% endif %}</p>
                                </div>
                            </div>
                            <div class="flex gap-x-3 items-start">
                                <img class="w-12 h-12" src="{% static 'assets/call_icon.svg' %}" alt="">
                                <div class="w-full">
                                    <p class="font-bold">Phone</p>
                                    <p class="break-words text-justify text-[#686868]">{% if organization.phone %}{{organization.phone}}{% else %}Not Updated Yet.{% endif %}</p>
                                </div>
                            </div>

                            <div class="flex gap-x-3 items-start">
                                <img class="w-12 h-12" src="{% static 'assets/website.svg' %}" alt="">
                                <div class="w-full">
                                    <p class="font-bold">Website</p>
                                    <a href='{{organization.website}}' class="break-words text-justify text-[#686868] underline underline-offset-2" target='_blank'>{% if organization.website %}{{organization.website}}{% else %}Not Updated Yet.{% endif %}</a>
                                </div>
                            </div>
                            
                            <div class="flex gap-x-3 items-start">
                                <img class="w-12 h-12" src="{% static 'assets/building.svg' %}" alt="">
                                <div class="w-full">
                                    <p class="font-bold">Organization Type</p>
                                    <p class="break-words text-justify text-[#686868]">{{organization.get_organization_type_display}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    <!-- posts -->
                    {% include "myapp/org-post-section.html" %}

                    {% comment %} events {% endcomment %}
                    {% include "myapp/org-event-section.html" %}

                </div>
            </div>
        </div>

        <!-- similar Orgainization -->
        <div class="flex w-full lg:w-1/4 lg:mt-28 flex-col px-3 lg:px-2  gap-y-5 pb-14 lg:pb-0">
            <div class="flex flex-col gap-y-6 bg-white">
                <h1 class="text-center text-2xl font-bold bg-[#000000] px-3 py-2 text-white rounded-md">Similar Organization
                </h1>
                {% if suggested_org %}
                <!-- all Orgainization present inside this div -->
                <div class="flex flex-col gap-y-5 px-3 py-5 pt-0">

                    {% for org in suggested_org %}
                    <!-- single Orgainization -->
                    <div class="flex gap-x-3  justify-between items-center border border-gray-300 w-full px-3 py-4 rounded-md">
                        <div class="flex gap-x-4 items-start">
                            <a href='{% url "organization_detail" org.id %}' class="flex-shrink-0"><img src="{{org.logo.url}}" class="h-12 rounded-md w-12"></a>
                            <div class="flex flex-col gap-y-3">
                                <a href='{% url "organization_detail" org.id %}' class="underline font-bold text-lg">{{org.name}}</a>
                                <div class='-mt-1'>
                                    <p>{{organization.industry.name}}</p>
                                    <p class='' id='followers-count-{{org.id}}'>{{org.get_followers.count}} Followers</p>
                                </div>
                                {% if user.info|is_following_org:org %}
                                <a href="javascript:void(0);" class="px-4 py-1 rounded-md follow-toggle-org bg-[#464646] text-white w-fit" data-org-id="{{ org.id }}">
                                    Unfollow
                                </a>
                                {% else %}
                                <a href="javascript:void(0);" class="px-4 py-1 rounded-md follow-toggle-org bg-[#6feb85] w-fit"  data-org-id="{{ org.id }}">
                                    Follow
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                    <!-- end of single Orgainization -->
                    {% endfor %}

                </div>
                {% else %} 
                <div class='mx-auto mb-14 mt-8 text-xl text-gray-900 flex flex-col gap-y-2 items-center'>
                    <p>No Suggestions For You :(</p>
                    <img src='{% static "assets/sad.svg" %}' class='h-14 w-14'>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>


    <!-- for viewing the profile -->
    <div id="zoomProfile" class="hidden items-center justify-center fixed top-0 bottom-0  w-full">
        <div class="relative">
            <img src="{{organization.logo.url}}" alt=""
                class="w-52 h-52 md:w-80 md:h-80 object-cover rounded-3xl border-4 border-[#00000070]">
            <button class="absolute -right-3 -top-3 md:top-0 md:right-0 border border-black rounded-full w-8 h-8 bg-gray-300"
                onclick="closeProfile()"><img src="{% static 'assets/close.svg' %}" alt=""></button>
        </div>
    </div>

    {% comment %} edit profile post {% endcomment %}
    {% if organization.user == request.user%}
    <div class="hidden fixed items-center justify-center top-20 bottom-12 left-0 right-0" id="editContainer">
        <form method = "POST" class="relative flex flex-col gap-y-3 h-full overflow-y-scroll py-10 bg-white w-full lg:w-1/2 px-5 border">
            {% csrf_token %}
            <div class="cursor-pointer absolute top-5 right-5" onclick="closeEdit()"><i
                    class="text-3xl fa-solid fa-circle-xmark"></i></div>
            <div class="max-[500px]:self-stretch self-center flex flex-col gap-y-3 w-full lg:w-[85%]">
                <h1 class="mt-5 text-2xl font-bold bg-black text-white px-3 py-1 text-center rounded w-fit self-center">
                    Edit Details
                </h1>
                <div class="self-center mb-4">
                    <div class="flex gap-x-3 items-center max-[500px]:flex-col gap-y-3">
                        <div class="relative">
                            <img src="{{organization.logo.url}}" alt="" class="rounded-lg w-40 h-40" id="image">
                            <label id="imageContainer" for="imgInput"
                                class="absolute -right-3 -bottom-3 bg-black rounded-full p-2 cursor-pointer"><img
                                    src="{% static 'assets/edit.svg' %}" alt="" class="w-7 h-7"></label>
                        </div>
                        <div class="hidden gap-y-2 items-center flex-col" id="cropImgContainer">
                            <p class="bold underline">crop image</p>
                            <img src="../assets/" alt="" class="w-40 h-40" id="croppingImg">
                        </div>
                        <input type="file" name="profileImg" class="hidden" id="imgInput" accept="image/*">
                        <div class="cursor-pointer hidden bg-[#6feb85] px-2 py-1 rounded-md" id="cropBtn"
                            onclick="crop()">
                            Done</div>
                    </div>
                </div>
                <div class="max-[500px]:flex-col gap-y-3 flex gap-x-3 ">
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.name.label}}</p>
                        {{EditOrgForm.name}}
                        {% if EditOrgForm.name.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="flex flex-col gap-y-1">
                        <p>{{EditOrgForm.description.label}}</p>
                        {{EditOrgForm.description}}
                        {% if EditOrgForm.description.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.description.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="flex flex-col gap-y-1">
                        <p>{{EditOrgForm.founded_date.label}}</p>
                        {{EditOrgForm.founded_date}}
                        {% if EditOrgForm.founded_date.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.founded_date.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="max-[500px]:flex-col gap-y-3 flex gap-x-3">
                    <div class="flex flex-col gap-y-1 w-full lg:w-1/2">
                        <p>{{EditOrgForm.industry.label}}</p>
                        {{EditOrgForm.industry}}
                        {% if EditOrgForm.industry.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.industry.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1 w-full lg:w-1/2">
                        <p>{{EditOrgForm.location.label}}</p>
                        {{EditOrgForm.location}}
                        {% if EditOrgForm.location.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.location.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="max-[500px]:flex-col gap-y-3 flex gap-x-3 ">
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.contact_email.label}}</p>
                        {{EditOrgForm.contact_email}}
                        {% if EditOrgForm.contact_email.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.contact_email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.phone.label}}</p>
                        {{EditOrgForm.phone}}
                        {% if EditOrgForm.phone.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.phone.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="max-[500px]:flex-col gap-y-3 flex gap-x-3 ">
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.organization_type.label}}</p>
                        {{EditOrgForm.organization_type}}
                        {% if EditOrgForm.organization_type.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.organization_type.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex gap-x-3 gap-y-3">
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.website.label}}</p>
                        {{EditOrgForm.website}}
                        {% if EditOrgForm.website.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.website.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.linkedin.label}}</p>
                        {{EditOrgForm.linkedin}}
                        {% if EditOrgForm.linkedin.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.linkedin.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex gap-x-3 gap-y-3">
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>X</p>
                        {{EditOrgForm.twitter}}
                        {% if EditOrgForm.twitter.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.twitter.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.instagram.label}}</p>
                        {{EditOrgForm.instagram}}
                        {% if EditOrgForm.instagram.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.instagram.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex gap-x-3 gap-y-3">
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.github.label}}</p>
                        {{EditOrgForm.github}}
                        {% if EditOrgForm.github.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.github.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1 w-full">
                        <p>{{EditOrgForm.discord.label}}</p>
                        {{EditOrgForm.discord}}
                        {% if EditOrgForm.discord.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in EditOrgForm.discord.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="self-center">
                    <button class="bg-[#6feb85] px-3 py-1 rounded-lg" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}


    {% include "includes/create-post.html" %}
    <script src="{% static 'scripts/jquery-3.7.1.min.js' %}"></script>
    {% if open_editOrg_flag %}
    <script>
        // When the page loads, open the experience form
        document.addEventListener("DOMContentLoaded", function() {
        openEdit();
        });
    </script>
    {% endif %}
    <script>
        const openEdit = () => {
            const editContainer = document.getElementById('editContainer')
            const entireSection = document.getElementById('entireSection')
            editContainer.classList.remove('hidden')
            editContainer.classList.add('flex')
            entireSection.classList.add('blur-md')
        }
        
        // close edit div function
        const closeEdit = () => {
            const editContainer = document.getElementById('editContainer')
            const entireSection = document.getElementById('entireSection')
            editContainer.classList.add('hidden')
            editContainer.classList.remove('flex')
            entireSection.classList.remove('blur-md')
        }        
    </script>
</body>
{% endblock %}